<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">申請流程</h3>
            </div>
            <div class="panel-body">
             註冊-&gt; 驗證email-&gt; 等候管理員開通帳號
            </div>
          </div>
</div>
<div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">SSH可連線位置</h3>
            </div>
	<div class="panel-body">
<p>ssh僅可透過以下網段進行連線,若有遺漏請透過下方聯絡信箱告知。</p>
<p>140.123.97.*</br>
140.123.101.*</br>
140.123.102.*</br>
140.123.103.*</br>
140.123.104.*</br>
140.123.110.*</p>
	</div>
</div>
<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">聯絡信箱</h3>
            </div>
            <div class="panel-body">
             <p>coe_server_sa@cs.ccu.edu.tw</> 
            </div>
          </div>

